# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# hides setup files
setup/

# hides api files
api/

# Visual Studio Code
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Coverage reports
coverage/

# Ignore any other sensitive files or directories
supabase/.env

# Ignore everything
*

# Unignore the main page (replace with the actual path to your main page)
app/page.tsx 

# Unignore the main page (replace with the actual path to your main page)
app/page.tsx 
app/login/page.tsx  

app/admin/page.tsx


# Ignore specific directories
node_modules/
.next/
out/
build/
.vscode/
.idea/